@import 'vars';
@import 'mixins';

@include main;

header {
	background: url('../slike/background.jpg');
	background-size: cover;
	padding-top: 25px;
	text-align: center;
	@include clearfix;
	nav {
		width: 60%;
		margin: 0 auto;
		padding: .5em;
		background-color: white;
		

		ul {
			display: inline-block;
			list-style: none;
			float: right;
			padding-top: 1em;

			li {
				display: inline-block;

				a {
					text-decoration: none;
					text-transform: uppercase;
					padding: 0 10px;
					font-size: .9em;

					&:hover {
						color: $main_red;
					}
				}

			}
		}
	}

	.logo {
		display: inline-block;
		font-size: 2em;
		font-weight: bold;

		span {
			color: $main_red;
		}
	}

	h1 {
		margin: 15% auto 0;
		color: white;
		font-weight: normal;
		width: 40%;
		border-bottom: 1px solid red;
		font-size: 2.2em;
	}

	h2 {
		color: white;
		font-weight: normal;
		font-size: 1.2em;
		margin-bottom: 20%;	
	}

}

.section1 {
	text-align: center;
	padding: 100px;

	h2 {
		text-transform: uppercase;
		padding-bottom: 2em;
	}

	.col {
		display: inline-block;
		width: 20%;


		img {
			width: 80%;
		}

		h3 {
			font-size: 1em;
			font-weight: normal;
		}

		.button {
			text-decoration: none;
			background: $main_red;
			color: white;
			font-size: .9em;
			padding: .2em 1.4em;
		}
	}
}


