@import 'vars';
@import 'mixins';

@include main;

header {
	background: url('../slike/background.jpg');
	background-size: cover;
	padding-top: 25px;
	text-align: center;
	@include clearfix;
	nav {
		width: 60%;
		margin: 0 auto;
		padding: .5em;
		background-color: white;
		

		ul {
			display: inline-block;
			list-style: none;
			float: right;
			padding-top: 1em;

			li {
				display: inline-block;

				a {
					text-decoration: none;
					text-transform: uppercase;
					padding: 0 10px;
					font-size: .9em;

					&:hover {
						color: $main_red;
					}
				}

			}
		}
	}

	.logo {
		display: inline-block;
		font-size: 2em;
		font-weight: bold;

		span {
			color: $main_red;
		}
	}

	h1 {
		margin: 15% auto 0;
		color: white;
		font-weight: normal;
		width: 40%;
		border-bottom: 1px solid red;
		font-size: 2.2em;
	}

	h2 {
		color: white;
		font-weight: normal;
		font-size: 1.2em;
		margin-bottom: 20%;	
	}

}

section {
	text-align: center;
	padding: 100px;
}
.section1 {
		background: $grey_background;

	.col {
		display: inline-block;
		width: 20%;
		padding-top: 2em;

		img {
			width: 80%;
		}

		h3 {
			font-size: 1em;
			font-weight: normal;
		}

		.button {
			text-decoration: none;
			background: $main_red;
			color: white;
			font-size: .9em;
			padding: .2em 1.4em;
			text-transform: uppercase;

			&:hover {
				background: #000;
			}
		}
	}
}

h2 {
		text-transform: uppercase;
		padding-bottom: 2em;
}

.section2 {
	table {
		width: 60%;
		margin: 0 auto; 
		border-collapse: collapse;

		thead {
			background: $main_red;

			th {
				color: white;
			}

			th:first-child {
				background: $red_dark;
			}
		}

		th, td {
			padding: .8em;
		}

		tbody {

		tr {
			border-bottom: 1px solid $main_text_color;
			
			&:hover {
				background: $grey_background;
			}
		}


		td:first-child {
			background: $grey_background;
			font-weight: bold;
		}
	}
	}
}

footer {
	padding: 1em 20%;
	background-color: #000;
	@include clearfix;

	.logo {
		font-size: 1.5em;
		border-bottom: 1px solid red;

		span {
			color: red;
		}
	}

	.info {	
		padding: 1em;
		font-style: italic;
		float: left;
		color: white;
	}
	
	iframe {
		float: right;
		padding: 1em;

	}
	
}

@media screen and (max-width: 1250px) {
	header {
		nav {
			width: 98%;
			@include clearfix;
		}

		.logo {
			float: left;
		}	
	}

	.section1 {
		.col {
			width: 45%;

			.button {
				padding: .2em 3em;
		}
	}
}

footer {
	text-align: center;

	.info {
		float: none;
		display: block;
	}
	iframe {
		float: none;
		display: block;
		margin: 0 auto;
	}
}
}


